<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input v-model="title" placeholder="Title"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-textarea v-model="content" placeholder="Enter Something..." rows="3" max-rows="6"></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          ><label for="start-date">วันเริ่มต้น</label>
          <b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker
        ></b-col>
        <b-col
          ><label for="start-date">เวลาเริ่มต้น</label>
          <b-form-timepicker v-model="startTime" locale="th"></b-form-timepicker
        ></b-col>
      </b-row>
      <b-row>
        <b-col
          ><label for="end-date">วันสิ้นสุด</label>
          <b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker
        ></b-col>
        <b-col
          ><label for="start-date">เวลาสิ้นสุด</label>
          <b-form-timepicker v-model="endTime" locale="th"></b-form-timepicker
        ></b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button @click="addEvent">Add</b-button>
        </b-col>
      </b-row>
    </b-container>

    <vue-cal
      :locale="th"
      active-view="week"
      :disable-views="['years', 'year', 'month']"
      :events="events"
      @ready="ready($event)" @view-change="viewChange($event)"
    />
  </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { getEvents } from '../services/event'
const th = {
  weekDays: [
    'จันทร์',
    'อังคาร',
    'พุธ',
    'พฤหัสบดี',
    'ศุกร์',
    'เสาร์',
    'อาทิตย์'
  ],
  weekDaysShort: ['จ.', 'อ.', 'พ.', 'พฤ', 'ศ.', 'ส.', 'อ.'],
  months: [
    'มกราคม',
    'กุมภาพันธ์ ',
    'มีนาคม',
    'เมษายน',
    'พฤษภาคม',
    'มิถุนายน ',
    'กรกฎาคม',
    'สิงหาคม',
    'กันยายน',
    'ตุลาคม',
    'พฤศจิกายน',
    'ธันวาคม'
  ],
  years: 'ปี',
  year: 'ปีนี้',
  month: 'เดือน',
  week: 'สัปดาห์',
  day: 'วัน',
  today: 'วันนี้',
  noEvent: 'ไม่มีกิจกรรม',
  allDay: 'ทั้งวัน',
  deleteEvent: 'ลบ',
  createEvent: 'กิจกรรมใหม่',
  dateFormat: 'YYYY MMMM D dddd'
}
export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      events: [
        {
          start: '2022-03-24 20:40',
          end: '2022-03-24 21:40',
          title: 'ดูวิดีโอ',
          content: 'นั่งดูวิดีโอ',
          class: 'a'
        }
      ]
    }
  },
  methods: {
    addEvent () {
      const event = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'a'
      }
      console.log(event)
      this.events.push(event)
    },
    async ready (e) {
      console.log('ready', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log(res)

      const newEvents = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.events = newEvents
    },
    async viewChange (e) {
      console.log('view-change', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log(res)

      const newEvents = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.events = newEvents
    }
  },
  computed: {
    th () {
      return th
    }
  },
  components: {
    VueCal
  }
}
</script>
<style>
.vuecal__event.a {
  background-color: rgb(4, 158, 158);
  border: 1px solid rgb(50, 50, 255);
  color: #ffff;
}
.vuecal__event.b {
  background-color: rgb(158, 253, 6);
  border: 1px solid rgb(0, 133, 33);
  color: rgb(2, 2, 2);
}
</style>
